name: CD

on:
  push:
    branches: main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Create keyfile
      run: |
        echo "${{ secrets.GCP_KEYFILE_BASE64 }}" | base64 -d > /tmp/keyfile.json
    
    - name: Set up dbt profile
      run: |
        mkdir -p ~/.dbt
        echo "${{ secrets.DBT_PROFILES_YML }}" > ~/.dbt/profiles.yml

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run dbt build
      run: |
        cd dbt_project
        dbt build --full-refresh